{% extends 'catalog/base.html' %}

{% block title %}Список Автозапчасти{% endblock %}

{% block title2 %}Список Автозапчасти{% endblock %}

{% load my_tags %}

{% block content %}
<div class="row text-center" xmlns="http://www.w3.org/1999/html">
        {% for product in products %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.category }}</h4>
                </div>
                <div class="card-body">
                    <img src="{{ product.picture | media_filter }}" alt="Logo" width="150" height="150" style="object-fit: cover;">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- {{ product.product_name }}</li>
                        <li>- {{ product.price }} руб.</li>
                        <li>- {{ product.description|truncatechars:100 }}</li>
                    </ul>
                    <a class="p-2 btn btn-outline-primary" href="{%url 'catalog:product' product.pk%}">Информация о товаре</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
